<!--search page, added Chapter 11-->
{% extends 'base.html' %}
{% block title %}
    Browse - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>
        Browse Projects{% if initial %} Starting with
        '{{ initial|title }}'{% endif %}
    </h1>

    {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
    <a href="{% url 'browse_by_name' initial=letter %}"
    {% if initial == letter %}class="active"{% endif %}>
        {{ letter|upper }}
    </a>
    {% endfor %}

    {% for project in projects %}
    <ul>
        <li>
            <a href="{% url 'project_detail' slug=project.slug %}">
                {{ project.name }}
            </a>
        </li>
    </ul>
    {% empty %}
    <p>Sorry, no results!</p>
    {% endfor %}
{% endblock content %}
